.Banner {
    font-family: 'Dancing Script', cursive, 'Expletus Sans', sans-serif, 'Kenia', 'Lexend', 'Moon Dance', 'Roboto';
    color: rgb(111, 54, 83);
    text-align: center;
   }

h1 {

    font-size: 70px;
}

h2 {
    text-align: end;
    font-size: 30px;
    margin-right: 70px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .Banner {
        margin-bottom: 10px;
    }
  
    h1, h2 {
        font-size: 18px;
    }

    h2{
        margin-right: 20px;
    }
  }